body {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(152, 235, 235);
    background-color: rgb(31, 32, 32);
}

h1 {
   color: white;
}

input[type='text'] {
  width: 200px;
  font-size: 16px;
  text-align: center;
  border:0;
  color:#f6931f;
  font-weight:bold;
  background-color: rgb(58, 59, 59);
}

button {
    font-family: sans-serif;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
}

button[disabled] {
    color: silver;
    background-color:#404040;    
}

#interval_toolbar,
#once_toolbar {
    text-align: center;
}

#playButton {
    width: 80%;
    height: 70px;
    color: white;
    background-color: rgb(8, 48, 8);
}

#startButton,
#stopButton {
    width: 45%;
    height: 40px;
}

#startButton {
    color: white;
    background-color: rgb(8, 8, 48);    
}

#stopButton {
    color: white;
    background-color: rgb(48, 8, 8);    
}

#playButton[disabled],
#startButton[disabled],
#stopButton[disabled] {
    color: silver;
    background-color:#404040;    
}
